h1{
    margin: 50px;
    z-index: 1;
}
p{
    font-weight:700;
}

#activities {
    display: flex;
    flex-direction:column;
    background-color:  rgba(32, 33, 33, 0.453);
    backdrop-filter: blur(5px);
    border-radius: 5%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    padding-bottom: 10px;
    width: 50%;
    height: 550px;
    cursor:default;
    text-decoration: none;
}
#titleUnderline{
    text-decoration: 1px underline;
}
#information{
    /* display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    justify-content: space-evenly;
    align-items: stretch; */
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    
    background-color: rgba(32, 33, 33, 0.453);
    backdrop-filter: blur(5px);
    border-radius: 5%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    padding-bottom: 10px;
    width: 70%;
    height: 550px;
    text-decoration: none;
    cursor:default;
}

#title{
    /* display: flex;
    justify-content: center; */
    display: grid;
    grid-area: 1 / 2 / 2 / 5;
    font-size: 35px;
    align-self: center;
}

#continent{
    display: grid;
    grid-area: 2 / 3 / 3 / 4;
}
#continentData{
    margin-top: 0px;
    padding-top: 0px;
}
#continentTitle{
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 0px;
    text-decoration: 1px underline;
}

#capital{
    grid-area: 2 / 5 / 3 / 6;
}

#subregion{
    grid-area: 3 / 5 / 4 / 6; 
}
#area{
    grid-area: 2 / 1 / 3 / 2;
}
#population{
    grid-area: 3 / 1 / 4 / 2; 
}

#imageFlag{
    grid-area: 3 / 2 / 4 / 5;
}
#lista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 25px;
}

.data{
    font-weight: 700;
    margin-bottom: 30px;
}

#countryDetail{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.infoContainer{
    display: grid;
    grid-area: 1 / 1 / 4 / 4; 
    justify-items: end;
}

.activityContainer{
    display: grid;
    grid-area: 1 / 4 / 4 / 6;
    justify-items: center;
}
details{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
 }
 #buttonDetail{
     width: fit-content;
    position: relative;
    left: 60px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #3f4d53;
    transition: .3s;
    cursor: pointer;
 }
 #buttonDetail:hover{
   background-color:  #a1bec8;
 }