


/* BOTON */

.button-64 {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 45%;
    padding: 10px;
    background-color: #007bff5e;
    backdrop-filter: blur(2px);
    border: 2px solid #007bff57;
    border-radius: .25rem;
    color: #007bff;
    transition: .15s ease-in-out;
    align-items: center;
    cursor: pointer;
}

.button-64:hover, .btn-borde:active, .btn-borde:focus{
  color: #fff;
  background-color: #007bff96;
  box-shadow: 0px 5px 15px 5px #007bffc0;
}

